<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simplestepapp">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:node="replace">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.simplestepapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppNoActionBarTheme" />
        <activity android:name=".activities.ViewPagerActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.PersonalInfoActivity" />
        <activity android:name=".activities.ConclusionActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.QuestionerActivity"
            android:theme="@style/AppNoActionBarTheme"/>
        <activity android:name=".activities.DailyRoutineActivity" />
        <activity android:name=".activities.FreeStyleWorkActivity" />
        <activity android:name=".activities.DailyRtneFreStyleWrktActivity" />
        <activity android:name=".activities.VideoActivity" />
        <activity android:name=".activities.ExerciseActivity" />
        <activity android:name=".activities.ExerciseResultActivity" />
        <activity android:name=".activities.FreStlVideoPlayActivity" />
        <activity
            android:name="com.sms.sma.UnityPlayerActivity"
            android:launchMode="singleTask"
            android:process=":unityplayer" />
        <activity
            android:name=".activities.UnityActivity"
            android:launchMode="singleTask"
            android:process=":unityplayer" />
        <activity android:name=".activities.FreStyleVideoPlayerActivity"
            android:theme="@style/AppNoActionBarTheme"/>
        <activity android:name=".activities.BottomNavigationActivity" />
        <activity android:name=".activities.VideoPlayerAcitivity" />
        <activity android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"/>
        <activity android:name=".activities.IntroductionActivity"
            android:theme="@style/AppNoActionBarTheme"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>